aiohttp
aiofiles
types-aiofiles
awesomeversion
black==25.9.0
coverage[toml]
flake8-bandit==4.1.1
flake8-bugbear==24.12.12
flake8-docstrings==1.7.0
flake8-rst-docstrings==0.3.1
flake8==7.3.0
mypy==1.18.2
pep8-naming==0.15.1
pre-commit-hooks==6.0.0
pre-commit==4.3.0
Pygments==2.19.2
pylint==3.3.8
pytest-asyncio==1.2.0
pytest==8.4.2
reorder-python-imports==3.15.0
syrupy
